.idea

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ecommerce-store/node_modules
ecommerce-store/.pnp
ecommerce-store/.pnp.*
ecommerce-store/.yarn/*
ecommerce-store/!.yarn/patches
ecommerce-store/!.yarn/plugins
ecommerce-store/!.yarn/releases
ecommerce-store/!.yarn/versions

# testing
ecommerce-store//coverage

# next.js
ecommerce-store//.next/
ecommerce-store//out/

# production
ecommerce-store//build

# misc
ecommerce-store/.DS_Store
ecommerce-store/*.pem

# debug
ecommerce-store/npm-debug.log*
ecommerce-store/yarn-debug.log*
ecommerce-store/yarn-error.log*
ecommerce-store/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
ecommerce-store/.env*

# vercel
ecommerce-store/.vercel

# typescript
ecommerce-store/*.tsbuildinfo
ecommerce-store/next-env.d.ts
